@model BRQ.MVC.ViewModels.TradeRecordViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>TradeRecordViewModel</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ClientSector)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClientSector)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Value)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Value)
            </dd>
            
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.TradeId }) |
        @Html.ActionLink("Voltar para a Lista", "Index")
    </p>
</body>
</html>
